---
---

@import "{{ site.theme }}";

.form__wrapper {
	overflow: hidden;
	position: relative;
	z-index: 1;
	display: inline-block;
	margin-bottom: 1.6rem;
	vertical-align: top;

	@include large {
		width: 80%;
    		padding: 0.75rem 0;
  	}

  	@include medium {
		width: 70%;
    		padding: 0.6rem 0;
    		font-size: 0.9rem;
  	}

  	@include small {
    		width: 100%;
    		padding: 0.75rem 0;
    		font-size: 0.9rem;
  	}
}

.form__wrapper--submit {
	padding: 1.6rem 0;
}

.form__input {
	display: block;
	position: relative;
	margin-top: 1em;
	width: 100%;
	box-sizing: border-box;
	font-size: 1.6rem;
	outline: 0;
	border: none;

	border-bottom: solid 1px #ddd;
	-webkit-transition: all 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
	-moz-transition: all 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
	-o-transition: all 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
	transition: all 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);

	background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 94%, #2196f3 4%);
	background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 94%, #2196f3 4%);
	background-position: -400px 0;
	background-size: 400px 100%;
	background-repeat: no-repeat;
	
	/**
	 * Remove default box-shadow for required pseudo classes 
	 */
	&:required {
		box-shadow: none;
	}
	
	/**
	 *  When input contain a class of .error 
	 */
	&.error {
		-webkit-transition: all 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
	   	-moz-transition: all 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
	        -o-transition: all 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
		transition: all 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);

		background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 96%, #f44336 4%);
		background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 96%, #f44336 4%);
		background-position: 0 0;
		background-size: 400px 100%;
		background-repeat: no-repeat;
	}

	&:focus {
		background-position: 0 0;

		-webkit-transition: transform 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
	   	-moz-transition: transform 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
	     	-o-transition: transform 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
		transition: transform 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
	} 
}

/* Form Label */
.form__label {
	position: absolute;
	bottom: 0;
	left: 0;
	padding: 0;
	width: 100%;
	height: calc(100% - 1em);
	text-align: left;
	pointer-events: none;
}

/* Form Label Content */
.form__label-content {
	position: absolute;

	-webkit-transition: transform 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
	-moz-transition: transform 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
	-o-transition: transform 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
	transition: transform 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
}

/**
 * 1. When input is focused move the label to top
 * 2. when the input field has a value move the label to top
 */
.form__input:focus ~ .form__label .form__label-content,
.form--filled .form__label-content {
	font-size: 1.4rem;
	-webkit-transform: translate3d(0, -65%, 0);
	-moz-transform: translate3d(0, -65%, 0);
	transform: translate3d(0, -65%, 0);
}

/**
 * Error Styles
 * .error class generated by jquery.validate.min.js plugin
 */
.error {
	font-size: 1.4rem;
	color: #f26c13;
	display: block;
}

